<div id="<%= dom_id institution %>">
  <p>
    <strong>Name:</strong>
    <%= institution.name %>
  </p>

  <p>
    <strong>Date established:</strong>
    <%= institution.date_established %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= institution.seat %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= institution.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= institution.website %>
  </p>

</div>
