<div id="<%= dom_id institution %>">
  <p>
    <strong>Name:</strong>
    <%= institution.name %>
  </p>

  <p>
    <strong>Date established:</strong>
    <%= institution.date_established %>
  </p>

  <p>
    <strong>Geographical seat:</strong>
    <%= institution.geographical_seat %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= institution.short_description %>
  </p>

  <p>
    <strong>Link to website:</strong>
    <%= institution.link_to_website %>
  </p>

</div>
