<div id="<%= dom_id treaty %>">
  <p>
    <strong>Name:</strong>
    <%= treaty.name %>
  </p>

  <p>
    <strong>Date of signing:</strong>
    <%= treaty.date_of_signing %>
  </p>

  <p>
    <strong>Place of signing:</strong>
    <%= treaty.place_of_signing %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= treaty.active %>
  </p>

</div>
