<div id="<%= dom_id political_group %>">
  <p>
    <strong>Name:</strong>
    <%= political_group.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= political_group.abbreviation %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= political_group.short_description %>
  </p>

  <p>
    <strong>President:</strong>
    <%= political_group.president %>
  </p>

  <p>
    <strong>Current meps:</strong>
    <%= political_group.current_meps %>
  </p>

  <p>
    <strong>Link to website:</strong>
    <%= political_group.link_to_website %>
  </p>

</div>
