<p style="color: green"><%= notice %></p>

<%= render @political_group %>

<div>
  <%= link_to "Edit this political group", edit_political_group_path(@political_group) %> |
  <%= link_to "Back to political groups", political_groups_path %>

  <%= button_to "Destroy this political group", @political_group, method: :delete %>
</div>
