<p style="color: green"><%= notice %></p>

<%= render @euro_area %>

<div>
  <%= link_to "Edit this euro area", edit_euro_area_path(@euro_area) %> |
  <%= link_to "Back to euro areas", euro_areas_path %>

  <%= button_to "Destroy this euro area", @euro_area, method: :delete %>
</div>
