<div id="<%= dom_id member_state %>">
  <p>
    <strong>Name:</strong>
    <%= member_state.name %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= member_state.entry_date %>
  </p>

  <p>
    <strong>Capital:</strong>
    <%= member_state.capital %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= member_state.population %>
  </p>

  <p>
    <strong>Number meps:</strong>
    <%= member_state.number_meps %>
  </p>

</div>
