<div id="<%= dom_id official %>">
  <p>
    <strong>Name:</strong>
    <%= official.name %>
  </p>

  <p>
    <strong>Place of birth:</strong>
    <%= official.place_of_birth %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= official.date_of_birth %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= official.position %>
  </p>

  <p>
    <strong>Affiliation:</strong>
    <%= official.affiliation %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= official.bio %>
  </p>

  <p>
    <strong>Link to website:</strong>
    <%= official.link_to_website %>
  </p>

  <p>
    <strong>Link to institution:</strong>
    <%= official.link_to_institution %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= official.institution_id %>
  </p>

  <p>
    <strong>Political group:</strong>
    <%= official.political_group_id %>
  </p>

</div>
