<%= form_with(model: schengen_area) do |form| %>
  <% if schengen_area.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schengen_area.errors.count, "error") %> prohibited this schengen_area from being saved:</h2>

      <ul>
        <% schengen_area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :short_description, style: "display: block" %>
    <%= form.text_area :short_description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
