<p style="color: green"><%= notice %></p>

<%= render @schengen_area %>

<div>
  <%= link_to "Edit this schengen area", edit_schengen_area_path(@schengen_area) %> |
  <%= link_to "Back to schengen areas", schengen_areas_path %>

  <%= button_to "Destroy this schengen area", @schengen_area, method: :delete %>
</div>
